<!DOCTYPE html>
<html>
<head>
    <title>Chess AI</title>
    <style>
        .button {
            color: black;
            background-color: white;
        }
    </style>
</head>
<body>
    <h1>Lichess Bot</h1>
    <p>Hit the "Play AI" button to start a game.
        The game will automatically open in a new window for you to watch.
        You may play multiple games at once.</p>
    <!-- <form method="POST" action="/start_game">
        <button type="submit">Start Game</button>
    </form>
    <form method="POST" action="/start_stream">
        <button type="submit">Debug</button>
    </form> -->
    <form method="POST" action="/play_ai">
        <button type="submit">Play AI</button>
    </form>
    <!-- <button type="button">Click Me!</button> -->
</body>
</html>